<!DOCTYPE html>
<html>

<head>
    <title>About Me</title>
    <link rel="stylesheet" href="/css/styles.css">

<body>
   <div class="main-content">
{{>header}}
<p>Create by {{name}}</p>
<img class="portrait" src="/img/me.jpg">
   </div>
    

{{>footer}}
 

</body>
</head>
</html>